
<h2>Timeline of events</h2>
		<div id="timeline">
		  {% assign events = site.events | sort: 'order' %}
		  {% for event in events %}
		    <div class="timeline-item">
		      <div class="timeline-icon">{% include book.html %}</div>
		      <div class="timeline-content {% cycle "left", "right" %}">
		       <center> <h2>{{event.title}}</h2></center>
		       <center> <img class="timeline-thumb" src="{{event.thumbnail}}">
		        {{event.content}}
				
           <center> <a href="{{event.artifacts}}" class="btn">Artifacts</a></center>
		      </div>
		    </div>
		  {% endfor%}
		</div>
