
<h2>Timeline of events</h2>
		<div id="timeline">
		  
		  {% for event in site.events %}
		    <div class="timeline-item">
		      <div class="timeline-icon">{% include book.html %}</div>
		      <div class="timeline-content {{event.position}}">
		        <center><h2>{{event.title}}</h2>
		        <img class="timeline-thumb" src="{{event.thumbnail}}">
		        {{event.content}}
			
				<center><a href="{{event.artifacts}}" class="btn">Artifacts</a>
				
		      </div>
		    </div>
		  {% endfor%}

		</div>
