.button {
   border-style: solid;
   border-width: 2pt;
   border-color: $brand-color;
   color: $brand-color;
   height: 2rem;
   margin: 1em;

   &:visited {
      color: $brand-color;
   }

   &:hover {
      background-color: $brand-color;
      color: $white;
   }
}
