// shamelessly stolen from https://codepen.io/colinkeany/pen/XJOvXz
@import url(https://fonts.googleapis.com/css?family=Roboto:900,300);

.member-cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;

  h2 {
    font-size: 32px;
  }
  h4 {
    color: $brand-color;
    letter-spacing: 0.06em;
    margin-bottom: 2em;
  }
}

.container {
  flex-basis: 15rem;
  min-width: 22rem;
  margin: 2rem 0 2rem 0;
  background-color: $foreground;
  padding: 0 2pt 2pt;
  box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  text-align: center;
}
