---
---

$foreground: white;
$white: $foreground;
$background: #EEEEEE;
$primary: #1564bf;
$primary-light: #5e91f2;
$primary-dark: #003b8e;
$primary-text: #ffffff;
$secondary: #00acc1;
$secondary-light: #5e91f2;
$secondary-dark: #003b8e;
$secondary-text: #000000;

@mixin prefix($prop, $val) {
	@each $prefix in '-webkit-', '-moz-', '-ms-', '' {
		#{$prefix}#{$prop}: $val;
	}
}

@mixin box_shadow($level) {

    @if $level == 1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    } @else if $level == 2 {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    } @else if $level == 3 {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    } @else if $level == 4 {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    } @else if $level == 5 {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }

}

@import "{{ site.theme }}";
@import "member_cards";
@import "button";
@import "timeline";

body {
  background-color: $background;
  background-image: linear-gradient(45deg, transparent 45%, rgba(0, 0, 0, 0.01) 50%, transparent 55%, transparent 100%), linear-gradient(-45deg, transparent 45%, rgba(0, 0, 0, 0.02) 50%, transparent 55%, transparent 100%);
  background-size: 8px 8px;
  background-position: 4px 4px;
}

.material {
  @include box_shadow(1);
  background-color: $foreground;
  border-radius: 6px;
}

body {
      font-family: helvetica;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about {
  padding: 1rem;
}

.papers {
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
  
  .downloads {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    margin: 0;
  }
}

// Minima overides

.site-header {
  @include box_shadow(4);
  border-top: .5em solid $primary-dark;
  background-color: $primary;
  border-bottom: none;
  min-height: 3.4rem;
}

.site-title{
  color: $primary-text;
  &:visited {
    color: $primary-text
  }
}

.site-footer {
  background-color: $primary;
  color: $primary-text;
}

.wrapper {
  max-width: 80vw;
}

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.site-nav {
  display: none;
}

// End Manima overides
