---
---

$foreground: white;
$white: $foreground;
$background: #EEEEEE;
$primary: #d2232a;
$brand-color: $primary;
$primary-light: #5e91f2;
$primary-dark: #003b8e;
$primary-text: #ffffff;
$secondary: #00acc1;
$secondary-light: #5e91f2;
$secondary-dark: #003b8e;
$secondary-text: #000000;
$spacing-unit: 30px !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;
$on-palm:          600px !default;
$on-laptop:        800px !default;

@mixin prefix($prop, $val) {
	@each $prefix in '-webkit-', '-moz-', '-ms-', '' {
		#{$prefix}#{$prop}: $val;
	}
}

@mixin box_shadow($level) {

    @if $level == 1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    } @else if $level == 2 {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    } @else if $level == 3 {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    } @else if $level == 4 {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    } @else if $level == 5 {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }

}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// @import "{{ site.theme }}";
@import "footer";
@import "member_cards";
@import "button";
@import "timeline";

body {
      font-family: helvetica;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
	font-size: 32px;
}

a {
  text-decoration: none;
}

.title {
  height: 100vh;
  color: $primary;
  font-size:4rem;
  background-image: url(/engl-2260/assets/war.jpg);
  background-size: cover;
  align-items: flex-start;
}

.material {
  @include box_shadow(1);
  background-color: $foreground;
}

.about {
    height: 100vh;
    background-color: $primary;
    color: $primary-text;
    padding: 0px 17vw 0 17vw;
    font-size: 2rem;
}

.papers {
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;

	ul {
		padding-inline-start: 0;
	}

  .downloads {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    margin: 0;
		grid-gap: 1rem;
  }

	.button {
		height: 4rem;
		margin:0;
	}
}

.post-container {
	width:100vw;
	flex-direction: column;

	.special-button {
		width: 95vw
	}
}

.post {
	width: 49rem;
	flex-direction: column;
	margin-top: 3rem;
}

// Minima overides

.site-title{
  color: $primary-text;
  &:visited {
    color: $primary-text
  }
}

.site-footer {
  background-color: $primary;
  color: $primary-text;

	.wrapper {
		margin-left: 4rem;
	}
}

body {
  margin: 0;
}

.home {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  justify-items: center;
  grid-gap: 1rem;
  background-color: #EEEEEE;

  .fill-sc {
    grid-column: 1/4;
  }

  .item {
    grid-column: 2;
  }
}

header {
  display: none;
}

// End Manima overides
