---
layout: default
---

<div class="home">

  <div class="fill-sc">
    <div class="title centered"><h1>War in America</h1></div>
    <div class="about centered material">{{ content }}</div>
  </div>

  <div class="member-cards item">
  {% for member in site.members %}
    {% include profile_card.html profile=member%}
  {% endfor %}
  </div>

  <div class="timeline-container material item">
    {% include timeline.html%}
  </div>

  <div class="papers material item">
    <h2>Download Essays</h2>
    <ul class="downloads">
    <!-- Matthew Bedard --> <li>{% include button.html text="My Wonderous Involvement with Literature" link="https://drive.google.com/file/d/1WfCQl6L-KYhURvaFP1_w7J0_0B-XXjsJ/view?usp=sharing" %}</li>
	<!-- Matthew Cather --> <li>{% include button.html text="Our World Through Literature" link="/engl-2260/assets/cather-memoir.pdf" %}</li>
	<!-- Kyle Ehlers-->     <li>{% include button.html text="Reading Memoir" link="" %}</li>
    <!-- Matthew Bedard --> <li>{% include button.html text="The Journey to the Center of War" link="https://drive.google.com/file/d/1mX2rCAuUv5G_MjPif6bZaJ7P-CqZrnRL/view?usp=sharing" %}</li>
    <!-- Matthew Cather -->	<li>{% include button.html text="A Proposal for intersectionality of War and America" link="/engl-2260/assets/cather-proposal.pdf" %}</li>
    <!-- Kyle Ehlers -->	<li>{% include button.html text="Overview essay" link="" %}</li>
    <!-- Matthew Bedard --> <li>{% include button.html text="The Versatility of War" link="https://drive.google.com/file/d/1QFBxY7kw1X7wVAT40-biw-P-ovz-sMXH/view?usp=sharing" %}</li>
    <!-- Matthew Cather. --><li>{% include button.html text="Intersectionality in American Literature" link="/engl-2260/assets/cather-final.pdf" %}</li>
    <!-- Kyle Ehlers -->	<li>{% include button.html text="Final Analysis" link="" %}</li>
    </ul>
  </div>

</div>
